main table {
  border-collapse: collapse;
  border: 2px solid rgb(140, 140, 140);
}

menu caption {
  font-weight: bold;
  padding: 10px;
}

thead,
tfoot {
  background-color: rgb(190, 226, 242);
}

th,
td {
  border: 1px solid rgb(228, 240, 245);
  padding: 8px 10px;
}
