menu div {
  xxxbackground-color: rgb(49, 142, 212);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.container {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 20px; /* Space between elements */
}

.score-container {
  background-color: rgb(49, 142, 212);
  display: inline-block;
  text-align: center; /* Centers text */
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player-updates {
  width: auto; /* Fixed width */
  text-align: left;
  font-size: 18px;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}
