.body {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
}

.navbar {
  background-color: rgb(42, 154, 219); /* Sets the background color */
  padding: 15px; /* Adds some spacing */
}

.navbar-brand {
  font-size: 2rem; /* Adjusts title size */
  font-weight: bold;
  color: white; /* Ensures visibility */
}

header {
  border-bottom: 20px rgb(161, 161, 161) solid;
  width: 100%;
  border-radius: 5px;
}

.nav-item {
  text-decoration: none;
  background-color: rgb(167, 167, 167);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

footer {
  position: fixed;
  background-color: rgb(167, 167, 167);
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: left;
}

.text-reset {
  text-align: left;
}

.github {
  float: right;
  text-align: right;
  text-decoration: none;
  color: black;
  padding-right: 15px;
}
